html,
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
.navbar {
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    #8ba7e08e,
    rgba(186, 220, 245, 0.537)
  );
  border-top: 0px solid black;
  border-bottom: 1px black solid;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2),
    0px -1px 1px 0px rgba(88, 81, 81, 0.408);
}
.official {
  border: 0px solid black;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  position: relative;
  top: 50px;
  left: 45px;
  padding: 15px 40px;
  background-color: rgb(165, 219, 243);
  text-decoration: none;
  z-index: 100;
}
.navbar a {
  float: left;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

.header {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #97aedd 74%);
}

.dropdown {
  float: left;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 22px;
  border: none;
  box-shadow: 50px;
  font-family: "IBM Plex Sans", sans-serif;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
  border-radius: 50px, 50px, 0px, 0px;
  font-family: "IBM Plex Sans", sans-serif;
  transition: all 0.2s ease;
  color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(72, 67, 67);
  min-width: 160px;
  font-family: "IBM Plex Sans", sans-serif;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: black;
  font-size: 18px;
  transition: all 0.2s ease;
  font-family: "IBM Plex Sans", sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*________________profile photo section start*/
#profile_photo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px 20px;
}
/*profile photo section end*/
.ho::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 111px;
  left: 50px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.ho:hover::after {
  width: 60px;
}

.ji::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 111px;
  left: 264px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.ji:hover::after {
  width: 60px;
}
.ni::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 111px;
  left: 155px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.ni:hover::after {
  width: 80px;
}
.hoo::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 33px;
  left: 60px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.hoo:hover::after {
  width: 80px;
}

.joo::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 80px;
  left: 78px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.joo:hover::after {
  width: 115px;
}

.poo::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 127px;
  left: 70px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.poo:hover::after {
  width: 105px;
}

.ioo::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 167px;
  left: 40px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.ioo:hover::after {
  width: 40px;
}

.loo::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 210px;
  left: 35px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.loo:hover::after {
  width: 35px;
}

.oop::after {
  content: "";
  background-color: rgb(28, 183, 240);
  width: 0px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 111px;
  left: 367px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.oop:hover::after {
  width: 75px;
}

#home {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 92px;
  left: 40px;
  padding: 15px 40px;
  background-color: rgb(92, 141, 162);
  text-decoration: none;
}

#profile {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 152px;
  left: 40px;
  padding: 15px 38px;
  background-color: rgb(92, 141, 162);
  text-decoration: none;
}
#another {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 22px;
  left: 40px;
  padding: 15px 38px;
  background-color: rgb(92, 141, 162);
  text-decoration: none;
}
#next {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 22px;
  right: 40px;
  padding: 15px 38px;
  background-color: rgb(92, 141, 162);
  text-decoration: none;
}
#profile:hover {
  color: yellow;
  background-color: red;
}
#home:hover {
  color: yellow;
  background-color: red;
}
#another:hover {
  color: yellow;
  background-color: red;
}
#next:hover {
  color: yellow;
  background-color: red;
}

#page {
  border: 1px solid rgba(95, 82, 82, 0.53);
  box-shadow: 20px 20px 47px #cae3ee9c, -20px -20px 47px #acc8e7a1;
  width: 100vh;
  height: 130vh;
  background-color: white;
  z-index: 10;
  margin: auto;
}
h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 250;
  display: flex;
  background-color: #97aedd;
  justify-content: center;
}
#info {
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  word-spacing: 20px;
  font-weight: 250;
  display: flex;
  justify-content: center;
}
