html,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #97aedd 74%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2),
    0px -1px 1px 0px rgba(88, 81, 81, 0.408);
}
#home {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 35px;
  right: 40px;
  padding: 15px 40px;
  background-color: rgb(81, 176, 216);
  text-decoration: none;
}

#profile {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 35px;
  right: 190px;
  padding: 15px 38px;
  background-color: rgb(81, 176, 216);
  text-decoration: none;
}
#profile:hover {
  color: yellow;
  background-color: red;
}
#home:hover {
  color: yellow;
  background-color: red;
}
#profile_photo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px 20px;
}
#container {
  grid-template-columns: 200px 200px 200px 200px 200px;
  display: grid;
  grid-template-columns: 310px 310px 310px 310px 310px;
  grid-template-rows: 290px 290px 290px;
  margin: auto;
  padding: 10px;
}
#container a {
  text-decoration: none;
}
#cse,
#mech,
#ise,
#civil,
#ece,
#ime,
#tele,
#instr,
#med,
#chem,
#bio,
#mca {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 4px 0px grey;
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
}
#cse:hover,
#mech:hover,
#ise:hover,
#civil:hover,
#ece:hover,
#ime:hover,
#tele:hover,
#instr:hover,
#med:hover,
#chem:hover,
#bio:hover,
#mca:hover {
  transform: scale(1.1, 1.1);
  background-color: #f37020;
}
#cse:hover h1,
#mech:hover h1,
#ise:hover h1,
#civil:hover h1,
#ece:hover h1,
#ime:hover h1,
#tele:hover h1,
#instr:hover h1,
#med:hover h1,
#bio:hover h1,
#mca:hover h1,
#chem:hover h1 {
  color: white;
  transition: all 0.3s ease;
}
h1 {
  font-size: 22px;
  color: black;
  margin-top: 40px;
  padding: 18px;
  padding-left: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
